.encabezado
    width: 100%
    min-height: $XL
    display: flex
    align-items: center
    position: fixed
    top: 0
    left: 0
    background: $color_oscuro_primario
    z-index: 99

    &__nav
        height: 100%
        width: 100%
        display: flex
        flex-direction: row
        justify-content: flex-end
        justify-items: center

        &__listado
            height: 100%
            width: 100%
            max-width: 560px
            display: flex
            flex-direction: row
            gap: $L
            align-items: center
            justify-content: flex-end
            color: $color_claro_primario
            list-style: none
            padding-right: $M

            &__item
                font-family: $fuente_secundaria
                color: $color_claro_primario
                font-size: $S

                &__enlace
                    color: $color_claro_primario

                    &--activo
                        color: $color_primario
                    &:hover
                        opacity: $opacidad
