.principal__seccion__contenido

    &__carrusel
        display: flex
        flex-direction: row        
        margin: 0 auto
        width: 300%
        height: 85%
        transition: 0.5s

        &__img
            width: calc(100% / 3)
            height: auto
            object-fit: contain
            transform: translateX(0%)

    &__control
        display: flex
        flex-direction: row
        justify-content: center
        gap: $M
        padding-top: $XS

        &__radio
            appearance: none
            width: 25px
            height: 25px
            border-radius: 50%
            border: 2px solid #ccc
            display: flex
            cursor: pointer

            &:checked
                background: $color_primario
